<tr id="<%= dom_id profile %>">
  <td><%= profile.name %></td>
  <td><%= link_to profile.github_url, profile.github_url, target: "_blank" %></td>
  <% if profile.profile_info.present? %>
    <td><%= image_tag profile.profile_info.profile_image_url, alt: profile.profile_info.username, class: "img-thumbnail", size: "50x50" %></td>
    <td><%= profile.profile_info.username %></td>
    <td><%= profile.profile_info.followers %></td>
    <td><%= profile.profile_info.following %></td>
    <td><%= profile.profile_info.organization %></td>
  <% else %>
    <td colspan="8">Nenhuma informação adicional disponível.</td>
  <% end %>
  <td><%= link_to 'Editar', edit_profile_path(profile), class: 'btn btn-warning' %></td>
  <td><%= link_to 'Mostrar', profile, class: 'btn btn-info' %></td>
</tr>
