<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4"><%= t('home.welcome') %></h1>
    <p class="lead"><%= t('home.lead') %></p>
    <hr class="my-4">
    <p><%= t('home.instructions') %></p>
    <ol>
      <li><%= raw t('home.steps.step1', link_to_profiles: link_to(t('helpers.submit.create', model: 'Perfis'), profiles_path)) %></li>
      <li><%= t('home.steps.step2') %></li>
      <li><%= t('home.steps.step3') %></li>
      <li><%= t('home.steps.step4') %></li>
      <li><%= t('home.steps.step5') %></li>
    </ol>
    <p class="lead">
      <%= link_to t('home.view_profiles'), profiles_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
